<div class="row">
  <div class="col-md-6 mt-5">
    <h3>Your Todos</h3>
    <div *ngIf="!this.todos.length; else elseBlock">No todos for display!.</div>
    <ng-template #elseBlock>
      <div *ngFor="let todo of todos">
        <app-todo-item
          [todo]="todo"
          (todoDelete)="deleteTodo($event)"
          (todoCheckBox)="toggleTodo($event)"
        ></app-todo-item>
      </div>
    </ng-template>
  </div>
  <div class="col-md-6 mt-5">
    <app-add-todo (todoAdd)="addTodo($event)"></app-add-todo>
  </div>
</div>
