<div class="my-3">
  <h5 [ngClass]="{ strike: !todo.active }">{{ todo.title }}</h5>
  <p [ngClass]="{ strike: !todo.active }">{{ todo.desc }}</p>
  <div class="form-check">
    <input
      (click)="checkBoxClick(todo)"
      type="checkbox"
      class="form-check-input"
      id="todo{{ i }}"
      [checked]="!todo.active"
    />
    <label class="form-check-label" for="exampleCheck1">Mark As Done</label>
  </div>
  <button class="btn btn-danger btn-sm" (click)="onClick(todo)">Delete</button>
</div>
